/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Estilo do corpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2d2d2d;
}

/* Cartão de login */
.card {
    background-color: #1c1c1c;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    gap: 20rem;
}

.card h2 {
    color: #fff;
    margin-bottom: 1.5rem;
}

/* Estilos do formulário */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    text-align: left;
    font-size: 20px;
    color: #fff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Botão de login */
button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#buttonCadastrar{
    background-color: #000000;
    color: #fff;
    padding: 0.8rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 16px;
}

#buttonCadastrar a{
    color: #fff;
}

/* Link para cadastro */
.card a {
    color: #007bff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

/* Mensagem de erro */
p {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
}
